      <details class="lang-menu">
        <summary class="icon-btn lang-menu__btn" aria-label="{{ i18n "language" }}">{{ partialCached "icons.html" (dict "n" "globe" "s" 18) "globe" 18 }}{{ upper site.Language.Lang }}</summary>
        <ul class="lang-menu__list">
          {{- $cur := . -}}
          {{- range site.Languages -}}
            {{- $l := .Lang -}}
            {{- $href := printf "/%s/" $l -}}
            {{- if eq $l "en" }}{{ $href = "/" }}{{ end -}}
            {{- range $cur.AllTranslations }}{{ if eq .Language.Lang $l }}{{ $href = .RelPermalink }}{{ end }}{{ end -}}
            <li><a href="{{ $href }}" hreflang="{{ $l }}" lang="{{ $l }}"{{ if eq $l site.Language.Lang }} aria-current="true"{{ end }}>{{ .LanguageName }}<span class="muted">{{ upper $l }}</span></a></li>
          {{- end }}
        </ul>
      </details>
