{{- /* Spotify chip for a country ("global" allowed): our Spotify Weekly page when we
       have that market's hand-downloaded chart, otherwise Spotify's own chart (outbound). */ -}}
{{- $cc := . -}}
{{- $sp := site.Data.spotify -}}
{{- if and $sp (index $sp.charts $cc) -}}
<a class="chip" href="{{ printf "/charts/spotify/%s/" $cc | relLangURL }}">{{ partialCached "plogo.html" "spotify" "spotify" }}{{ i18n "sp_weekly" }}</a>
{{- else if in site.Params.spotify.markets $cc -}}
<a class="chip chip--ext" href="https://charts.spotify.com/charts/view/regional-{{ $cc }}-weekly/latest" target="_blank" rel="nofollow noopener" title="{{ i18n "spotify_official_title" }}">{{ partialCached "plogo.html" "spotify" "spotify" }}{{ i18n "spotify_official" }}<span aria-hidden="true">↗</span></a>
{{- end -}}
